        body {
            background-color: rgb(33, 32, 32);
            margin: 0;
            padding: 0;
        }

        header {
            background-image: linear-gradient(rgb(58, 58, 58), rgb(20, 19, 19));
            height: 100px;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            width: 100%;
            border-radius: 0 0 20px 20px;
            border-left: 4px dashed;
            border-right: 4px dashed;
            border-bottom: 4px dotted;
            border-color: rgb(17, 237, 182);
        }

        .name {
            font-family: "Press Start 2P", system-ui;
            font-weight: 100;
            letter-spacing: 0px;
            color: rgb(17, 237, 237);
            font-size: 26px;
            line-height: 95px;
            padding: 0 0 0 65px;
        }

        .navbar {
            /* font-family: "Titillium Web", sans-serif; */
            font-family: "Press Start 2P", system-ui;
            font-weight: 100;
            font-size: 14px;
            /* color: rgb(24, 237, 17); */
            color: rgb(17, 237, 237);
            padding: 18px 25px 0 0;
            list-style: none;
            float: right;
            padding-right: 50px;
            text-transform: uppercase;


        }

        .navbar li svg {
            vertical-align: middle;

        }

        .navbar li {
            display: inline-block;
            margin-right: 50px;
            padding: 4px 6px 4px 6px;
            border-radius: 10px;

        }

        .navbar li:last-child {
            margin-right: 10px;
        }

        .navbar li:hover {
            transition: 0.3s;
            background-color: rgb(17, 237, 237);
            color: black;

        }

        .section-ctrl {
            display: none;
            width: 90px;
            height: 90px;
        }

        #aboutme-ctrl:checked~#aboutme,
        #resume-ctrl:checked~#resume,
        #projects-ctrl:checked~#projects,
        #contact-ctrl:checked~#contact {
            display: block;
        }

        .content-section {
            display: none;

        }

        /* everything above is to do with the header and list buttons */

        /* everything below regarding about me section */

        .abouttitle {
            border-radius: 12px;
            /* box-shadow: 3px 3px 15px rgb(161, 243, 158); */
            text-align: justify;
            /* background-color: rgb(47, 47, 47); */
            padding: 20px 20px 20px 20px;
            margin: 40px 55px 20px 55px;
            font-family: "Titillium Web", sans-serif;
            font-size: 20px;
            color: rgb(17, 237, 182);
            justify-items: center;
        }

        .abtitle {
            display: flex;
            font-family: "Google Sans Code", monospace;
            justify-content: center;
            width: 94%;
            font-size: 70px;
            margin-bottom: 15px;
            border-bottom: 3px solid rgb(17, 237, 237);
            padding-bottom: 5px 10px 0 10px;

        }

        .absubtitle {
            display: flex;
            text-align: center;
            justify-content: center;
            width: 80%;
            font-family: "Google Sans Code", monospace;
            margin-top: 25px;
            margin-bottom: 25px;
        }

        .ablinks {
            display: flex;

        }

        .titlegrid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 40px;
            align-items: center;
            padding-left: 40px;

        }


        .abspan {
            font-family: "Press Start 2P", system-ui;
            display: inline-block;
            width: 100%;
            padding-bottom: 5px;
            border-bottom: 4px dashed;
            font-size: 35px;
            font-weight: 100;
            letter-spacing: 0px;
            color: rgb(17, 237, 237);
            border-color: rgb(17, 237, 182);
            ;
        }

        .aboutmediv {
            border-radius: 12px;
            /* box-shadow: 3px 3px 15px rgb(161, 243, 158); */
            text-align: justify;
            /* background-color: rgb(47, 47, 47); */
            padding: 20px 20px 20px 20px;
            margin: 40px 55px 20px 55px;
            font-family: "Google Sans Code", monospace;
            font-size: 20px;
            color: rgb(17, 237, 182);
        }

        .techdiv {
            display: flex;
            flex-direction: column;
            border-radius: 12px;
            /* box-shadow: 3px 3px 15px rgb(161, 243, 158); */
            text-align: justify;
            /* background-color: rgb(47, 47, 47); */
            padding: 20px 20px 20px 20px;
            margin: 40px 55px 20px 55px;
            font-family: "Titillium Web", sans-serif;
            font-size: 20px;
            color: rgb(17, 237, 182);
        }



        .gridinleft {
            display: grid;
            padding: 15px 100px 0 125px;
            background-color: rgba(255, 255, 255, 0);
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 20px 90px;
            font-family: "Press Start 2P", system-ui;
            font-size: 20px;
            font-weight: 100;

        }

        .leftinleft {
            display: flex;

            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 10px;
            text-align: left;
            background-color: rgb(49, 49, 49);
            width: 300px;
            min-height: 125px;
            padding: 15px 10px 25px 5px;
            border-radius: 15px;
            box-shadow: 3px 5px 20px rgba(82, 82, 82, 0.241);

        }

        .leftinright {
            display: flex;

            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 12px;
            text-align: left;
            background-color: rgb(49, 49, 49);
            width: 300px;
            min-height: 125px;
            padding: 15px 10px 25px 5px;
            border-radius: 15px;
            box-shadow: 3px 5px 20px rgba(82, 82, 82, 0.241);
        }

        .tech-logo1 {
            width: 100px;
            height: 100px;
            object-fit: contain;
            margin-bottom: 28px;
        }

        .tech-logo2 {
            width: 100px;
            height: 100px;
            object-fit: contain;
            margin-bottom: 0px;
        }